/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

/* General Styles */
body 		{ padding-top: 60px; padding-bottom: 40px;
				background: #000 url(../img/layout/6948184520_b6b6c89ad8_k.jpg) center center no-repeat;}
.brand 		{ font-family: "Alfa Slab One","Times New Roman", serif; }
hr.muted 	{ border-top-color: black; border-bottom-color: #333; }
.img-credit { color: white; background: rgba(27,27,27,1); opacity: 0.8; padding:0.4em 0.6em; font-size: 0.8em; 
				position: fixed; bottom: 0; border-top-right-radius: 6px; }

/* Bootstrap Major Block Type Transparancies */
.navbar-inverse 
.navbar-inner 	{ background: rgba(27,27,27,0.9); }
.hero-unit 		{ background: rgba(238,238,238,0.7); /* = #eeeeee*/ }
.ht-bg 			{ background: rgba(27,27,27,0.96); border: 1px solid #252525; 
					border-radius: 6px; color: #eeeeee; padding: 1em 1.4em; }

/* Supported Services Block */
.supported-services 		{ margin-top: 30px; }
.supported-services ul 		{ margin: 0; padding: 0;  }
.supported-services ul li 	{ list-style: none; }
.supported-services 
ul.thumbnails li 			{ background:white; border-radius: 6px; }
.supported-services 
ul.thumbnails li a 			{ min-height: 4em; line-height: 4em; text-align: center; }
.supported-services 
ul.thumbnails img 			{ display:inline; }

/* Footer */
footer 			{ margin-top: 30px; color:#fff; text-shadow: 1px 1px 2px #000; }
footer p 		{ margin: 0;}
footer .ht-bg 	{ opacity: 0.5; }

/* Device Specific */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body { padding-top: 0; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	body { padding-top: 0; }
 }